<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku =" .NETFramework, Version = 4.6.2" />
  </startup>
  
  <appSettings>
    <add key =" StorageConnectionStrinng"
         value ="DefaultEndpointsProtocol=https;AccountName=team10projecta916;AccountKey=4V9RYDcZUjn442xOgaSW/RwC7mzB+zguDgfHM0tyqff8cSeomPMj6cvOA2ATav0Vor2eoAR64A7L+DCsFDrZCw==;EndpointSuffix=core.windows.net"/>  
  </appSettings>
</configuration>
